h1 {
  color: #1d1d1d;
  font-family: Jost;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
}

h2 {
  color: #8c8c8c;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  color: #1d1d1d;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section_menu {
  /* position: fixed; */
  margin-top: 30px;
  margin-left: 147px;
  width: 446px;
  height: 544px;
  border-radius: 20px;
}

.header {
  margin-left: 0;
}

.logo_group {
  display: inline-flex;
  width: auto;
  align-items: center;
  /* height: 40px; */
}

.logo_group::before {
  content: '';
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background-image: url(../../Logo.svg);
}

.logo_group::after {
  content: '';
  width: 72px;
  height: 13px;
  background-image: url(../../Logo_text.svg);
  flex-shrink: 0;
}

.menu {
  margin-top: 20px;
  display: flex;
}

.button_menu {
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
  height: 30px;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.button_menu:hover {
  color: blueviolet;
  background-color: chartreuse;
}
